.authors {
  &-header {
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  &-container {
    margin: 0 auto 30px;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  &-pagination {
    margin: 0 auto;
    padding: 0 116px;
    max-width: 100%;
  }

  &-card {
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}