.catalog {
  margin: 0 auto 60px;
  padding: 30px;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 1200px;

  &-header {
    margin: 0 !important;
    padding: 30px;
    text-align: start;
  }

  &-info {
    margin: 0 auto !important;
    width: fit-content;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.pagination {
  margin: 0 auto !important;
  width: 100%;
  max-width: 810px;
  padding: 0 10px;
}

.pagination-previous,
.pagination-next,
.pagination-link {
  color: #4a4a4a;
}

.pagination-link.is-current {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
}

.range-slider .range-slider__thumb {
  background-color: #4a4a4a;
}

.range-slider .range-slider__range {
  background-color: #4a4a4a;
}

.filters {
  display: flex;
  margin: 0 20px !important;
  height: 1185px;
  padding: 20px 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &-content {
    cursor: pointer;
  }
}

.filter {
  margin-bottom: 0 !important;
  width: 100%;

  &-checkbox {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #4a4a4a;
  }

  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  &-subtitle {
    margin-bottom: 0 !important;
    font-size: 14px;
  }

  &-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &-input {
    border: 1px solid #444 ;
    outline: none;
    max-width: 60px;
  }
}

.paintinglist {
  margin: 0 !important;
  height: 100%;
  max-height: fit-content;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sorting {
  margin: 0 10px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

  &-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.sortby {
  width: 120px
}

.perpage {
  width: 45px
}

.dropdown {
  border: none;
  outline: none;
}

.collection {
  &-list {
    margin: 0 20px !important;
    padding: 30px 10px;
    max-width: 810px !important;
  }

  &-card {
    height: 460px;
  }
}