* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  padding-top: 120px;
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
}

.section {
  padding: 0;
}

.header {
  margin-bottom: 120px;
}

.about {
  margin: 0 20px 120px;
}

.container {
  margin-left: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 30px 60px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;

  &-brand {
    align-items: center;
    flex-grow: 1;
  }

  &-end {
    align-items: center;
    gap: 20px;
  }

  @media (min-width: 1400px) {
    padding: 30px 120px;
  }
}

.is-open {
  padding: 0 60px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;

  &-container {
    width: 100%;
    display: flex;
    max-height: 120px;
  }

  &-menu {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
}

.navbar-is-open {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navlink {
  text-decoration: none;
  color: #4a4a4a;
}

.logo-icon {
  height: 20px;
}

.burger {
  &:hover {
    background-color: white;
  }
}

.title {
  text-align: center;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 600px;
    background-color: #e4e4e4;
  }

  &-main {
    font-size: 48px;
    margin-bottom: 20px;
  }

  &-ua {
    color: #eca72c
  }

  &-br {
    @media (min-width: 720px) {
      display: none;
    }
  }
}

.text {
  text-align: justify;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 40px;
  font-size: 20px;
}

.about {
  margin: 0 auto 120px !important;
  max-width: 1100px;

  &-items {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-list {
    margin: 0 10px;
    padding: 0 10px;
    width: 810px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 1120px) {
      margin: 0 20px;
      max-width: 1080px !important;
      justify-content: flex-start;
    }
  }

  &-card {
    margin-bottom: 20px;
    width: 250px;
    transition: 0.5s;

    &-subtitle {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 600;
    }

    &-title {
      font-size: 18px;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    @media (max-width: 680px) {
      width: 80%;
    }

    &.swiper-card {
      margin: 40px auto;
    }
  }
}

.swiper-button-next {
  color: #4a4a4a !important;
}

.swiper-button-prev {
  color: #4a4a4a !important;
}

.painting-image {
  object-fit: cover;
  object-position: center;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.button {
  &-get-all {
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid  #4a4a4a;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    color: #4a4a4a;
    transition: 0.3s;
    cursor: pointer;

    &-dark {
      color: #fff;
      background-color: #4a4a4a;
      transition: 0.3s;

      &:hover {
        background-color: #2e2e2e !important;
      }
    }

    &:hover {
      border: none;
      background-color: #4a4a4a;
      color: #fff;
    }
  }

  &-auth {
    width: 120px
  }
}

.fund {
  margin: 0 auto 120px !important;
  padding: 0 20px;
  max-width: 100%;

  &-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px !important;

    @media (min-width: 830px) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
    }
  }

  &-ambassadors {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &-image {
    margin-bottom: 20px;
    max-width: 500px;
    min-height: 275px;
    max-height: 470px;
    background-image: url("https://res2.draftium.site/res/642155d9be2bde000d2a6087/642166fbf58ed0000d615bb7_optimized_1141?nowebp");
    background-size: cover;
    background-position: center;
  }

  &-united24 {
    @media (max-width: 830px) {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &-title {
    text-align: start;
  }
}

.results {
  margin: 0 auto 120px !important;
  max-width: 1200px;
  padding: 0 20px;

  &-title {
    margin: 0 auto 20px !important;
    padding: 0 20px;
    text-align: start;

    @media (max-width: 830px) {
      max-width: 500px;
      padding: 0;
    }
  }

  &-items {
    margin: 0 auto !important;
    padding: 0 20px;
    max-width: 100%;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    @media (max-width: 830px) {
      max-width: 500px;
      padding: 0;
    }

    @media (max-width: 600px) {
      display: block;
    }
  }

  &-item {
    margin-bottom: 0 !important;
    @media (max-width: 600px) {
      margin-bottom: 40px !important;
    }
  }
}

.join-us {
  margin: 0 auto;
  padding: 20px;
  background-color: #e4e4e4;
  max-width: 100%;

  &-items {
    margin: 0 auto;
    max-width: 1200px !important;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 830px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-item-2 {
    padding: 50px;

    @media (max-width: 830px) {
      display: none;
    }
  }

  &-img {
    &-1 {
      width: 300px;
      height: 300px;
      background-size: cover;
      background-position: center;
      background-image: url(./images/Flag_of_bravery.jpg);
    }

    &-2 {
      width: 300px;
      height: 150px;
      background-size: cover;
      background-position: center;
      transform: translate(20%, -50%);
      background-image: url(./images/Bus.jpeg);
    }
  }
}

.footer {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 20px;
  background-color: #fff;

  &-container {
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4a4a4a;

    @media (max-width: 830px) {
      flex-direction: column;

      .footer-title {
        display: none;
      }
    }
  }

  &-navbar {
    display: flex;
    gap: 20px;
  }

  &-end {
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.painting {
  &-card {
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (max-width: 830px) {
      width: 100%;
      display: block;
    }
  }

  &-image {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    flex-basis: 50%;
    align-self: baseline;

    @media (max-width: 830px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &-info {
    flex-basis: 50%;

    @media (max-width: 830px) {
      
    }
  }

  &-title {
    font-size: 20px;
    text-align: start;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &-last {
        margin-bottom: 20px;
      }
    }
  }

  &-description {
    margin-bottom: 20px;
  }
}

.icon {
  &-container {
    margin: 0 4px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-cross {
    cursor: pointer;
  }
}

.author {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &-card {
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 830px) {
      width: 100%;
      display: block;
    }
  }

  &-image {
    margin: 0 auto;
    background-image: url("https://i.etsystatic.com/17358183/r/il/67b2ee/3879584352/il_fullxfull.3879584352_drkw.jpg");
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-self: baseline;

    @media (max-width: 830px) {
      margin-bottom: 20px;
    }
  }

  &-info {
    flex-basis: 50%;
  }

  &-input {
    outline: none;
    border: none;
    border-bottom: 1px dotted #4a4a4a
  }

  &-title {
    font-size: 24px;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &-last {
        margin-bottom: 20px;
      }
    }
  }

  &-description {
    margin-bottom: 20px;
  }
}
